{{ header }}
<seciton>
    <div class="home_top_about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    фото
                </div>
                <div class="col-lg-8">
                    <h2>Медицинская одежда EG - это не просто халат!</h2>
                    <p>За 10 лет врачебной практики я приобретала десятки наборов медицинской одежды.</p>
                    <p>В каждом элементе рабочего гардероба были серьезные недостатки, мешавшие в работе и доставлявшие дискомфорт.</p>
                    <p>Все эти нюансы были учтены в процессе создания одежды бренда EG.</p>
                </div>
            </div>
        </div>
    </div>
</seciton>

<section id="video_home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zHYYWoS48D4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section id="call_my">

        <div class="call_my_item call_my_item_left"></div>
        <div class="call_my_item call_my_item_right">
            <p><span>Узнайте, что такое - действительно качественная и удобная</span> <span>медицинская одежда еще в процессе примерки!</span></p>
            <button class="btn btn-primary">Перезвоните мне</button>
        </div>

</section>


{{ content_top }}


<section id="call_my">

    <div class="call_my_item call_my_item_left"></div>
    <div class="call_my_item call_my_item_right">
        <h3>ОГРАНИЧЕННОЕ ПРЕДЛОЖЕНИЕ В ФЕВРАЛЕ 2012!</h3>
        <p>
            <span>Бесшовное нижнее белье в подарок при любой покупке и регистрации!</span>
        </p>
        <button class="btn btn-primary">Получить подарок</button>
    </div>

</section>
713
{{ logged }}
{% if logged %}
<a href="#popupauth" class="popup-with-form">1111111111111111</a>
{% endif %}

{#Testimonials#}
<div class="test-desc">
    <div class="container">
        <div id="testi" class="owl-carousel owl-theme text-center">
            <div class="item">
                <img class="img-responsive center-block" src="image/catalog/html/testi1.png">
                <h2>mr. John doe</h2>
                <h3>designer</h3>
                <svg class="" width="28px" height="28px"><use xlink:href="#quote"></use></svg>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="item">
                <img class="img-responsive center-block" src="image/catalog/html/testi2.png">
                <h2>mr. John doe</h2>
                <h3>designer</h3>
                <svg class="" width="28px" height="28px"><use xlink:href="#quote"></use></svg>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="item">
                <img class="img-responsive center-block" src="image/catalog/html/testi3.png">
                <h2>mr. John doe</h2>
                <h3>designer</h3>
                <svg class="" width="28px" height="28px"><use xlink:href="#quote"></use></svg>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</div>




<div class="deliveryinfo">
    <div class="container">
        <ul class="col-xs-12 col-sm-6 col-md-3 list-inline">
            <li class="del1"><svg width="40px" height="40px"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#support"></use> </svg></li>
            <li class="se1 text-xs-left">
                <h4>24/7 support</h4>
                <p>Passage of Lorem Ipsum</p>
            </li>
        </ul>
        <ul class="col-xs-12 col-sm-6 col-md-3 sborder list-inline">
            <li class="del4"><svg width="40px" height="40px"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pay"></use> </svg></li>
            <li class="se1  text-xs-left">
                <h4>secure payment</h4>
                <p>Passage of Lorem Ipsum</p>
            </li>
        </ul>
        <ul class="col-xs-12 col-sm-6 col-md-3 sborder list-inline">
            <li class="del2"><svg width="40px" height="40px"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ship"></use> </svg></li>
            <li class="se1  text-xs-left">
                <h4>world wide shipping</h4>
                <p>Passage of Lorem Ipsum</p>
            </li>
        </ul>
        <ul class="col-xs-12 col-sm-6 col-md-3 sborder list-inline lc">
            <li class="del3"><svg width="40px" height="40px"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#gift"></use> </svg></li>
            <li class="se1  text-xs-left">
                <h4>special gift cards</h4>
                <p>Passage of Lorem Ipsum</p>
            </li>
        </ul>
    </div>
</div>


<div id="common-home" class="container-fluid">
    <div class="row"></div>
</div>

<div id="popupauth" class="mfp-hide white-popup-block">
{{ content_bottom }}
</div>

{{ footer }}