<div class="homeslider-container s-panel row">
<div class="loader wrloader"></div>
<div id="slideshow{{ module }}" class="slider-for">
   {% for banner in banners %}
              <div class="slideimg">
                  <div class="img-slide">
                  {% if banner.link %}<a href="{{ banner.link }}">
                  <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>
                  {% else %}
                  <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
                  {% endif %}
                  </div>
                   <div class="slidecap">
                  {{ banner.description }}
                  <div class="slidelink"><a href="{{ banner.link }}" class="btn btn-primary">discover now</a></div>
                  </div>
              </div>
   {% endfor %}
</div>
 <div class="appsbtn"></div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        dots: true,
        autoplay: false,
        autoplaySpeed: 3000,
        fade: true
    });

});
</script>